<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="demo framework" verbose="1"  parallel="classes" thread-count="3">
    <test name="demo parallel run" >
        <classes>
            <class name="ut.BaseDriverTestClass"/>
            <class name="ut.ChromeDriverRunTest"/>
            <class name="ut.EdgeDriverRunTest"/>
        </classes>
    </test>
</suite>
